################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OutlookAddInFormRegion/.vs/OutlookAddInFormRegion/v15
/OutlookAddInFormRegion/bin/Debug
/OutlookAddInFormRegion/obj/Debug
/OutlookAddInFormRegion/publish
